In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [2]:
df = pd.read_csv("Social_Network_Ads.csv")
df["Gender"].replace({"Male":0,"Female":1},inplace=True)
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510       0  19.0          19000.0          0
1    15810944       0  35.0          20000.0          0
2    15668575       1  26.0          43000.0          0
3    15603246       1  27.0          57000.0          0
4    15804002       0  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863       1  46.0          41000.0          1
396  15706071       0  51.0          23000.0          1
397  15654296       1  50.0          20000.0          1
398  15755018       0  36.0          33000.0          0
399  15594041       1  49.0          36000.0          1

[400 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    int64
 2   Age              400 non-null    float64
 3   EstimatedSalary  400 non-null    float64
 4   Purchased        400 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 15.8 KB

In [4]:
df.describe()

            User ID      Gender         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000  400.000000       400.000000  400.000000
mean   1.569154e+07    0.510000   37.655000     69742.500000    0.357500
std    7.165832e+04    0.500526   10.482877     34096.960282    0.479864
min    1.556669e+07    0.000000   18.000000     15000.000000    0.000000
25%    1.562676e+07    0.000000   29.750000     43000.000000    0.000000
50%    1.569434e+07    1.000000   37.000000     70000.000000    0.000000
75%    1.575036e+07    1.000000   46.000000     88000.000000    1.000000
max    1.581524e+07    1.000000   60.000000    150000.000000    1.000000

In [5]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [6]:
x = df[['User ID', 'Gender', 'Age', 'EstimatedSalary']]
y = df[['Purchased']]

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25, random_state=29)

In [8]:
model = LogisticRegression()
model.fit(x_train,y_train)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [9]:
y_pred = model. predict(x_test)

In [10]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [11]:
model.score(x_train,y_train)

0.7833333333333333

In [12]:
model.score(x,y)

0.785

In [13]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[64,  5],
       [16, 15]])

In [14]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

In [15]:
print(tn,fp,fn,tp)

64 5 16 15

In [16]:
a = accuracy_score(y_test, y_pred)

In [17]:
a

0.79

In [18]:
e = 1 -a
e

0.20999999999999996

In [19]:
precision_score(y_test,y_pred)

0.75

In [20]:
recall_score(y_test,y_pred)

0.4838709677419355